*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html, body{
    height: 100%;
    overflow: hidden;
}
.container{
    position: relative;
    max-width: 550px;
    height: 100lvh;
    margin: 0 auto;
    background-color: rgb(235, 235, 235);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    
}
section{
    scroll-margin-top: 1px;
    scroll-snap-align: start;
    width: 100%;
    height: 100dvh;
    border: 1px solid white;
     transition: all .5s;
}
.navigator{
    position: fixed;
    height: 100vh;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navigator .nav{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgba(84, 84, 84, 0.729);
    margin-top: 25px;
    transition: all .4s;
}
.nav.active{
    background-color: aliceblue;
    width: 17px;
    height: 17px;
}
.active{
    background-color: rgb(40, 155, 255);
   
}
